.sidebar {
  position: fixed;
  top: 0;
  width: 310px;
  height: 100vh;
  background-color: #333;
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar.collapsed {
  transform: translateX(-90%);
}

.toggle-sidebar {
  display: flex;
  font-size: 7px;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 331px;
  color: rgb(245, 245, 245);
  padding: 10px 0px 91vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.logo {
  width: 250px;
  height: auto;
  margin-bottom: 30px;
}

.navigasi {
  list-style: none;
  font-weight: 600;
  margin-bottom: 70px;
}

.navigasi li {
  margin: 15px 0;
}

.navigasi a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}

.navigasi a.active {
  font-weight: 600;
  background: linear-gradient(to right, #ffcc33 30%, #f20069);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.4s ease;
}

.navigasi a.active i {
  background: linear-gradient(to right, #ffcc33, #f20069);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 6px rgba(255, 128, 128, 0.6);
}

.SK {
  font-size: 16px;
  color: #777;
  text-decoration: underline;
  margin-left: 38px;
  display: block;
}

.header {
  display: flex;
  justify-content: right;
  gap: 20px;
  margin-bottom: 10px;
}

.tombol-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffcc33, #f20069);
  border: none;
  height: 35px;
  width: 160px;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.foto-profil-head {
  width: auto;
  aspect-ratio: 1 / 1;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 20px;
}
